* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
  font-size: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: #262626;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 110rem;
  margin: auto;
}

/* NAV */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  font-size: 1.2rem;

  .logo {
    width: 11rem;
  }

  ul {
    display: flex;
    &.main-menu {
      flex: 1;
      margin-left: 2rem;
    }

    li {
      padding: 0 0.5rem;

      a{
          padding-bottom: 2px;
      }

      a:hover {
          border-bottom: 2px solid #262626;
        
      }
    }
  }
}
.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 2.5rem;
  right: 3rem;
  z-index: 2;
  display: none;
}

.btn {
  margin-top: 1rem;
  background:#262626 ;
  color: white;
  padding: 0.7rem 1.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
}

/* SHOWCASE */
.showcase {
    width: 100%;
    height: 35rem;
    background: url('./img/slide1.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 5rem;
    margin-bottom: 2rem;
    
    h2, p {
        margin-bottom: 0.5rem;
        height: 10%;

    }
    h2 {
        font-size: 1.5rem;
    }

    
  
}

/* Home Cards*/

.home-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 2rem;

  img{
    width: 100%;
    margin-bottom: 0.7rem;
  }

  h3{
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

  p{
    font-size: 0.6rem;
    margin-bottom: 1rem;
  }
  a{
    display: inline-block;
    text-transform: uppercase;
    color: #00667b;
    font-weight: bold;
    padding: top 1rem; 
  }
}
  
  /* XBox */
  .xbox {
    width: 100%;
    height: 300px;
    background: url('./img/xbox.png') no-repeat center center/cover;
    margin-bottom: 2rem;

    .content {
      width: 40%;
      padding: 3rem 0 0 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }

    p {
      margin: 1rem 0 1rem;
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
  }

  
  


  
/* Home cards 2 */ 

.home-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-bottom: 2rem;

  img{
    width: 100%;
    margin-bottom: 0.7rem;
  }

  h3{
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

  p{
    font-size: 0.6rem;
    margin-bottom: 1rem;
  }
  a{
    display: inline-block;
    text-transform: uppercase;
    color: #00667b;
    font-weight: bold;
    padding: top 1rem; 
  }
  
} 

  
/* Carbon */

.carbon {
  width: 100%;
  height: 300px;
  background: url('./img/carbon.jpg') no-repeat center center/cover;
  margin-bottom:2rem ;
  .btn {
    margin-top: 1rem;
    background:#ffffff ;
    color: rgb(0, 0, 0);
    padding: 0.7rem 1.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
  }    

  .content {
    width: 40%;
    padding: 3rem 0 0 2rem;
    color: #ffffff;
  }
  h2 {
    font-size: 1.5rem;
  }

  p {
    margin: 1rem 0 1rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}
/* Follow*/

.follow {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding-bottom: 2rem;
  p {
    margin:0.4rem;
    font-size: 1rem;
  }
  a {
    margin: 0.4rem;
  }
}

/* Links*/

.links {
  background:#dddddd;
  width:100%;
  padding: 3rem 0rem 1rem 5rem;
  .links-inner {
    width:80% auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    margin-bottom: 2rem;
  
  ul {
    margin: 5px;
    list-style: none;
  
    li {
      display: flex;
      flex-direction: row;
      h3 {
        font-weight: 500;
        color: #262626;
        padding-bottom: 1rem;
      }
      a {
        padding-bottom: 0.3rem;
      }
    }
  }
  
}
}

/* Footer */
.footer {
  background: #dddddd;
  width: 100%;
  padding: 0rem 0rem 1rem 5rem;
  .footer-inner {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
    font-size: 0.7rem;
    font-weight: 500;

    ul {
      padding-top: 0.5rem;
      padding-right: 2rem;
      width: 80%;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
    }
    li {
      font-size: 0.5rem;
      font-weight: normal;
      padding-bottom: 0.3rem;
      margin-left: auto;
    }     
}
}

@media(max-width: 870px){

  .menu-btn {
    display:block;
  }

  .menu-btn:hover{
    opacity: 0.5;
  }

  .main-nav {
    ul.main-menu {
      display: block;
      position: absolute;
      top:0;
      left:0;
      width: 50%;
      height: 100%;
      background: #f2f2f2;
     
      opacity: 0.9;
      padding:2rem;
      transform: translateX(-50rem);
      transition: transform 0.5s ease-in-out ;

      &.show {
        transform: translateX(-2rem);
      }

      li {
        padding: 0.8rem;
        border-bottom:#ccc solid 1px;
        font-size: 1.2rem;
      }

      li:last-child {
        border-bottom: 0;
      }
    }


    ul.right-menu {
      margin-right: 4rem;

    }
  }
  .btn {
    font-size: 1rem;
    padding: 0.6rem 0.9rem;
    margin-bottom: 1rem;
  }

  .home-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  } 
  .xbox{
      .content{
        width: 40%;
        padding: 2.5rem 0 0 2rem;
        margin-bottom: 1rem;
  
        p {
          margin: 0.5rem 0 1rem;
          font-size: 0.5rem;
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
          
        }
        h2{
          margin-top: 0.1rem;
        }
      }
    }
  
    .carbon{
      .content{
        width: 40%;
        padding: 2.5rem 0 0 2rem;
        margin-bottom: 1rem;
  
        p {
          margin: 0.5rem 0 1rem;
          font-size: 0.5rem;
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
          
        }
        h2{
          margin-top: 0.1rem;
        }
      }
    }
    .links {
      .links-inner {
        display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      margin-bottom: 2rem;
    }
  }
  .footer {
    

    .footer-inner {
      max-width: 110rem;
    margin: 0 auto;
    padding:0 2rem 0 2rem;
    display:flex;
    align-items: center;
    justify-content:space-between;

    div {
      margin-bottom: 2rem;
      display: flex;
      align-items: center;

      i {
        margin-right: 1rem;
      }
    }
      ul {
        display: flex;
        flex-wrap: wrap;

        li{
          margin-right: 3rem;
          margin-bottom: 2rem;
        }
      }
  }
  }
  }






@media(max-width: 600px){

  .btn {
    font-size: 0.9rem;
    padding: 0.5rem 0.7rem;
    margin-bottom: 3rem;
  }

  .home-cards {
    grid-template-columns: repeat(2, 1fr); 
  }

    
  .xbox{
      .content{
        width: 50%;
        padding: 3rem;
        padding: 4rem 0 0 2rem;

        p{
          display:none;
        }
        h2 {
          font-size: 1.2rem;
          margin-bottom: 3rem;
        }
      }
    }
  


  
    .carbon{
      .content{
        width: 50%;
        padding: 3rem;
        padding: 4rem 0 0 2rem;

        p{
          display:none;
        }
        h2 {
          font-size: 1.2rem;
          margin-bottom: 3rem;
        }
      }
    }
    .links {
      padding: 3rem 0rem 1rem 1.5rem;
      .links-inner {
        display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
      margin-bottom: 2rem;
    }
  }

  .footer {
    padding: 3rem 0rem 1rem 2rem;
    .footer-inner {
      ul {
        padding-top: 3rem;
        padding-right: 2rem;
        width: 60%;
        grid-template-columns: repeat(1, 1fr);}
      }
    }
  }
  